.RRT__panel {
    background-color: azure;
}

.activeCardPos {
    border: 1px solid black;
    border-radius: 24px;
}

.activeDesc {
    background-color: goldenrod;
    color: white;
}
.disabledDesc {
    color: black;
}